/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Form Element Reset */
input, select, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}